@use './../base/variables' as v;

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // max-height: 15vh;
    // min-height: 15vh;
    padding: 1rem 2.5rem;
}

.nav-list {
    list-style: none;
    font-size: 1.1rem;
    display: flex;

    li {
        margin-right: 3em;
        text-transform: uppercase;
        font-weight: 600;

        a {
            padding: 1em;
            color: v.$dark-grey;
            background-color: none;
            text-decoration: none;
        }

        a:hover{
            color:v.$orange;
        }
    }

    li:hover{
        transform: scale(1.1);
    }
}

.open-menu,
.close-menu {
    display: none;
}