@use './../base/variables' as v;

@media (width < 1024px) {
    .open-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        padding: 2rem;
        color: v.$white;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #272727;
        width: 70%;
        box-shadow: 0 0 0 100vmax #000000a0;
        z-index: 1;

        &.visible {
            opacity: 1;
            visibility: visible;
            transition: all .4s ease-out;
        }
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-end;

        li {
            margin-bottom: 3rem;

            a {
                color: v.$white;
                position: relative;
                letter-spacing: .7px;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: v.$white;
                    transform: scale(0);
                    transform-origin: bottom right;
                    transition: transform .6s ease-out;
                }

                &:hover::after {
                    transform: scale(1);
                    transform-origin: bottom left;
                }
            }
        }

        div{
            margin-right: 3rem;
        }
    }

    .hero-1 {
        height: 90vh;
    }

    .hero-body {
        h1 {
            font-size: 1.9rem;
        }

        p {
            font-size: .9rem;
        }
    }

    .container header {
        h1 {
            font-size: 1.9rem;
        }

        h2 {
            font-size: .9rem;
        }
    }

    .cards-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 75%;
    }

    .card-body {
        h2 {
            font-size: 1rem;
        }

        h3,
        p {
            font-size: .8rem;
        }
    }

    .img-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .modal-img {
        img {
            max-width: 90%;
        }

        padding: 1.5rem;
    }

    .contact-title {
        font-size: 1.9rem;
    }

    .contact-section {
        flex-direction: column;
        width: 85%;
        padding: 1rem;
    }

    fieldset legend {
        font-size: .8rem;
        width: 85%;
        margin-left: .5rem;
    }

    form {
        padding: 1rem;
    }

    .cb-lb {
        font-size: .6rem;
        margin-left: .5rem;
    }

    .input-container {
        width: 95%;
    }

    .contact-info {
        border: none;
        border-top: 1px solid v.$white;
        font-size: .8rem;
    }

    iframe {
        width: 300px;
        height: 200px;
    }

    footer {
        font-size: .7rem;
        padding: 2rem 2rem 1rem 2rem;
    }

    .map {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .map-info p:first-child {
        font-size: .8rem;
    }
}

@media (800px <=width <=1024px) {
    .img-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width <=600px) {
    .modal-btn {
        font-size: .8rem;
        padding: .8rem .9rem;
    }

        .container header{
            h1 {
                font-size: 1.7rem;
            }
    
            h2 {
                font-size: .8rem;
            }
        }

    .contact-btn {
        width: 50%;
        margin: auto;
        padding: .5rem 2rem;
        font-size: 1rem;
        cursor: pointer;
        }
}

@media (width < 440px) {
    .img-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    iframe {
        width: 250px;
        height: 150px;
    }
}

@media (width <=385px) {
    iframe {
        width: 200px;
        height: 150px;
    }

    .contact-info{
        font-size: .7rem;
    }

        .cb-lb {
            font-size: .5rem;
            margin-left: .4rem;
        }
}