// Tipografia
$font-1: Raleway;
$font-2: Raleway-Light;
$font-3: Noto;
$h1-size: 2.5rem;

// Colores
$orange: #daa94e;
$dark-grey: #2b2a2a;
$light-grey: #7c7979;
$black: #000000;
$white: #ffffff;

// Tamaños de Media Queries
// $telefono: 480px;
// $tablet: 768px;
// $desktop: 992px;
// $desktopXL: 1200px;